@import 'core/settings';
@import 'core/links';

body {
	
	margin: 0;
	height: 100vh;
	background-color: #FBEEC1
}

.header{
	border-bottom: solid 1px #2f2fa2;
	

	h1{
		color: #2f2fa2;
		margin-left: 20px;
	}

	input{
		margin-left: 20px;
		margin-bottom: 5px;
	}
}

.main{
	display: flex;
	flex-direction: row;
	.my_favourites{
		margin:0;
		margin-top: 20px;
		max-width: 35%;
		h2{
			color:#2f2fa2;
			padding: 5px;
			margin-left: 15px;
		}
	}
}


.liElement{
	text-decoration: none;
	background-color: #659dbd;
	color: #2f2fa2;
	margin: 10px;

	h2{
		margin:0;
		padding: 10px;
	}

	img{
		padding: 10px;
	}
}

.liFavourite{
	text-decoration: none;
	margin: 10px;
	max-width: 150px;
	p{
		color:#2f2fa2;
		font-size: 20px;
		font-weight: bold;
	}
	img{
		padding: 10px;
		width: 100px;
		height: 150px;
	}
}


ul {
	list-style-type: none;
	margin: 10px;
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  }

  .selected{
	  background-color:#2f2fa2;
	  color: #659dbd;
	  margin:10px;
	  img{
		padding: 10px;
	}
  }
